.user-update-error {
    width: 100%;
    font-size: 80%;
    color: #dc3545;
}

.user-update-background {
    --bs-gray-100: #f5f4f8;
    --bs-gray-200: #ecebf1;
    --bs-primary: #754ffe;
    --bs-secondary: #79758f;
    --bs-success: #19cb98;
    --bs-info: #29baf9;
    --bs-warning: #ffaa46;
    --bs-danger: #e53f3c;
    --bs-light: #f5f4f8;
    --bs-dark: #18113c;
    --bs-white: #fff;
    --bs-light-primary: #e3dcff;
    --bs-light-danger: #fad9d8;
    --bs-light-info: #e1f6ff;
    --bs-light-warning: #ffeeda;
    --bs-light-secondary: #e4e3e9;
    --bs-light-success: #d1f5ea;
    --bs-light-dark: #d1cfd8;
    --bs-dark-primary: #593cc1;
    --bs-dark-warning: #c28135;
    --bs-dark-info: #51a0c2;
    --bs-dark-danger: #ae302e;
    --bs-dark-success: #139a74;
    --bs-dark-secondary: #5c596d;
    --bs-primary-rgb: 117,79,254;
    --bs-secondary-rgb: 121,117,143;
    --bs-success-rgb: 25,203,152;
    --bs-info-rgb: 41,186,249;
    --bs-warning-rgb: 255,170,70;
    --bs-danger-rgb: 229,63,60;
    --bs-light-rgb: 245,244,248;
    --bs-dark-rgb: 24,17,60;
    --bs-light-primary-rgb: 227,220,255;
    --bs-light-danger-rgb: 250,217,216;
    --bs-light-info-rgb: 225,246,255;
    --bs-light-warning-rgb: 255,238,218;
    --bs-light-secondary-rgb: 228,227,233;
    --bs-light-success-rgb: 209,245,234;
    --bs-light-dark-rgb: 209,207,216;
    --bs-dark-primary-rgb: 89,60,193;
    --bs-dark-warning-rgb: 194,129,53;
    --bs-dark-info-rgb: 81,160,194;
    --bs-dark-danger-rgb: 174,48,46;
    --bs-dark-success-rgb: 19,154,116;
    --bs-dark-secondary-rgb: 92,89,109;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 92,87,118;
    --bs-body-bg-rgb: 245,244,248;
    --bs-font-sans-serif: "Inter","sans-serif";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg,hsla(0,0%,100%,.15),hsla(0,0%,100%,0));
    --bs-body-font-family: Inter,sans-serif;
    --bs-body-font-size: .875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.6;
    --bs-body-color: #5c5776;
    --bs-body-bg: #f5f4f8;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #ecebf1;
    --bs-border-color-translucent: rgba(0,0,0,.175);
    --bs-border-radius: .25rem;
    --bs-border-radius-sm: .2rem;
    --bs-border-radius-lg: .5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #754ffe;
    --bs-link-hover-color: #5e3fcb;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #29baf9;
    --toastify-color-success: #19cb98;
    --toastify-color-warning: #ffaa46;
    --toastify-color-error: #e53f3c;
    --toastify-color-transparent: hsla(0,0%,100%,.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: var(--bs-body-color);
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    text-align: var(--bs-body-text-align);
    -webkit-font-smoothing: antialiased;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    box-sizing: border-box;
    padding-top: 7.5rem!important;
    border-top-left-radius: .5rem!important;
    border-top-right-radius: .5rem!important;
    background: url("https://geeks-react.netlify.app/static/media/profile-bg.b5029dfdb795f40f99cf.jpg") 0% 0% / cover no-repeat;
}