.userLayoutBanner {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding-top: 10%;
    background-image: url("assets/images/background/profile-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.userLayoutBannerBottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: rgb(195,150,34);
    background: linear-gradient(0deg, rgb(217, 194, 248) 0%, rgb(255, 255, 255) 100%);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-bottom: 2em;
}

.demoSubmitButton {

    margin-top: 2em;
}

.demoFormModal {
    background: rgb(255,226,207);
    background: linear-gradient(0deg, rgba(255,226,207,0.25) 0%, rgba(125,33,217,0.25) 100%);
}

.profile-dash{
    margin-top: 1.75em;
}

.profile-dash-navbar{
    margin-bottom: 1.75em;
    nav-left: auto;
}

.profile-dash-navbar-link {
    font-weight:bold;
    font-size: medium;
    float: inline-start;
}

.profile-dash-navbar-toggle{
    padding: 0%;
    float: inline-end;
}

.profile-dash-navbar-collapse {
    margin-inline-end: auto;
}

.profile-dash-navbar-item {
    margin-top: 2em;
}

.user-profile-layout {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.user-settings-row {
    align-items: center;
}