USE [Immersed]
GO
/****** Object:  StoredProcedure [dbo].[JobSchedules_Update]    Script Date: 12/2/2022 4:54:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: <Jacob Helton>
-- Create date: <11/23/2022>
-- Description:	<Updates a JobSchedule by their Id>
-- Code Reviewer: 

-- MODIFIED BY: <Jacob Helton>
-- MODIFIED DATE: <12/2/2022>
-- Code Reviewer:
-- Note:  <Updating proc for Quartz JobController>
-- =============================================

CREATE proc [dbo].[JobSchedules_Update]
			   @Id int
			  ,@ChronJobTypeId int
			  ,@IsRecurring bit
			  ,@UtcHourToRun int
			  ,@IntervalTypeId int
			  ,@DaysOfWeekId int
			  ,@EntityTypeId int
			  ,@RecipientId int
			  ,@Recipient nvarchar(255)
			  ,@IsActive bit
			  ,@ModifiedBy int

AS

/*--------- TEST CODE --------------

	Declare @Id int = 12
		   ,@ChronJobTypeId int = 1
		   ,@IsRecurring bit = 1
		   ,@UtcHourToRun int = 12
		   ,@IntervalTypeId int = 1
		   ,@DaysOfWeekId int = 7
		   ,@EntityTypeId int = 1
		   ,@RecipientId int = 28
		   ,@Recipient nvarchar(255) = 'testimmersed@dispostable.com'
		   ,@IsActive bit = 1
		   ,@ModifiedBy int = 125

	SELECT *
	FROM [dbo].[JobSchedules]
	Where Id = @Id

	Execute [dbo].[JobSchedules_Update] @Id
									   ,@ChronJobTypeId
									   ,@IsRecurring
									   ,@UtcHourToRun
									   ,@IntervalTypeId
									   ,@DaysOfWeekId
									   ,@EntityTypeId
									   ,@RecipientId
									   ,@Recipient
									   ,@IsActive
									   ,@ModifiedBy

	SELECT *
	FROM [dbo].[JobSchedules]
	Where Id = @Id

*/

BEGIN

	Declare @dateNow datetime2(7) = getutcdate();

	UPDATE [dbo].[JobSchedules]

	SET
		[ChronJobTypeId] = @ChronJobTypeId
	   ,[IsRecurring] = @IsRecurring
	   ,[UtcHourToRun] = @UtcHourToRun
	   ,[IntervalTypeId] = @IntervalTypeId
	   ,[DaysOfWeekId] = @DaysOfWeekId
	   ,[EntityTypeId] = @EntityTypeId
	   ,[RecipientId] = @RecipientId
	   ,[Recipient] = @Recipient
	   ,[IsActive] = @IsActive
	   ,[DateModified] = @dateNow
	   ,[ModifiedBy] = @ModifiedBy

	WHERE (
			Id = @Id
			)

END
GO
