USE [Immersed]
GO
/****** Object:  Table [dbo].[DemoAccounts]    Script Date: 3/7/2023 2:26:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoAccounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrgId] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_DemoAccounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DemoAccounts] ADD  CONSTRAINT [DF_DemoAccounts_OrgId]  DEFAULT ((101)) FOR [OrgId]
GO
ALTER TABLE [dbo].[DemoAccounts] ADD  CONSTRAINT [DF_DemoAccounts_StartDate]  DEFAULT (getutcdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[DemoAccounts] ADD  CONSTRAINT [DF_DemoAccounts_ExpirationDate]  DEFAULT (dateadd(day,(30),getutcdate())) FOR [ExpirationDate]
GO
